.body {
    background-color: black;
}
.container {
    max-width: 1480px;
    margin: 0 auto;
    position: relative;
}
.navigation {
    display: flex;
    justify-content: space-between;
    padding-top: 46px;
}
.logo {
    align-self: center;
}
.call {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.call-number {
    padding-right: 39px;
    line-height: 28px;
    font-size: 20px;
}

.call-link {
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}
.accent-color {
    color: #fff;
}
.call-back {
    background-image: url(../img/vector.png);
    background-repeat: no-repeat;
    background-position: left 26px top 18px;
    margin: 0;  
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 49px;
    padding-right: 25px;
    border: 1px solid #E4B564;
}
.main {
    max-width: 100%;
    margin: 0 auto;
}
.infrastructure-title {
    font-size: 50px;
    line-height: 28px;
    color: #fff;
    margin: 0;
    padding-top: 120px;
    padding-bottom: 41px;
}
.infrastructure-subtitle {
    margin: 0;
    width: 1182px;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    color: #fff;
    padding-bottom: 41px;
}
.infrastructure-menu {
    list-style-type: none; 
    padding: 0;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(6, 233px);
    grid-template-rows: repeat(2, 468px);
    row-gap: 20px;
    column-gap: 15px;
    grid-template-areas: "item1 item1 item2 item2 item3 item3"
                         "item4 item4 item4 item5 item5 item5";
}
.infrastructure-items {
    font-size: 20px;
    line-height: 28px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
.item1 {
    background-color: #634F2C;
    grid-area: item1;
}
.item2 {
    background-color: #B4A385;
    grid-area: item2;
}
.item3 {
    background-color: #E4B564;
    grid-area: item3;
}
.item4 {
    background-color: 
    #635A4A;
    grid-area: item4;
}
.item5 {
    background-color: #B08C4D;
    grid-area: item5;
}
.technique {
    padding-bottom: 190px;
}
.technique-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 28px;
    margin: 0;
    color: #fff;
    padding-top: 161px;
    padding-bottom: 94px;
}
.technique-menu {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(6, 233px);
    grid-template-rows: repeat(6, 156px);
    grid-template-areas: "item6 item6 item7 item7 item8 item8"
                         "item6 item6 item7 item7 item8 item8"
                         "item9 item9 item7 item7 item11 item11"
                         "item9 item9 item10 item10 item11 item11"
                         "item9 item9 item10 item10 item12 item12"
                         "item9 item9 item10 item10 item12 item12";
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 15px;
}
.technique-items {
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    padding-top: 44px;
    padding-left: 52px;
}
.item6 {
    background-color: #0E0E0E;
    grid-area: item6;
}
.item7 {
    background-color: #242424;
    grid-area: item7;
}
.item8 {
    background-color: #1F1F1F;
    grid-area: item8;
}
.item9 {
    background-color: #1F1F1F;
    grid-area: item9;
}
.item10 {
    color: #000;
    background-color: #E4B564;
    grid-area: item10;
}
.item11 {
    background-color: #0E0E0E;
    grid-area: item11;
}
.item12 {
    background-color: #0A0909;
    grid-area: item12;
}
.accent-color1 {
    font-weight: bold;
}
.clients {
    padding-bottom: 240px;
}
.clients-title {
    font-size: 50px;
    line-height: 28px;
    margin: 0;
    color: #fff;
    padding-top: 172px;
    padding-bottom: 72px;
}
.clients-link {
    position: absolute;
    right: 2px;
    top: 171px;
    border: 1px solid #E4B564;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    padding: 10px 40px;
}
.clients-menu {
    text-align: center;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 492px);
    grid-template-rows: repeat(2, 390px);
    grid-template-areas: "clients1 clients2 clients3"
                         "clients4 clients5 clients6";
}
.clients-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: #fff;
}
.clients-item-text {
    font-weight: normal;
}
.clients1 {
    background-color: #634F2C;
    grid-area: clients1;
}
.clients2 {
    background-color: rgba(232, 210, 171, 0.76);
    grid-area: clients2;
}
.clients3 {
    background-color: #E4B564;
    grid-area: clients3;
}
.clients4 {
    background-color: #635A4A;
    grid-area: clients4;
}
.clients5 {
    background-color: #B08C4D;
    grid-area: clients5;
}
.clients6 {
    background-color: #634F2C;
    grid-area: clients6;
}